body{
	margin:0;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}


.table{
	width: 100%;
	border-collapse: collapse;
}

.table td, .table th{
  padding:12px 15px;
  border:2px solid #ddd;
  font-size:16px;
}

.table th{
	background-color:#0c3823;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.table tbody tr th{

    display: none;
}

.table thead tr th:nth-child(1){
 display: none;
}


@media(max-width: 1410px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
	  display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
  }

tr {
margin: 0 0 1rem 0;
}

tr:nth-child(odd) {
background: #ccc;
}

  td {
	  /* Behave  like a "row" */
	  border: none;
	  border-bottom: 1px solid #eee;
	  position: relative;
	  padding-left: 50%;
  }

  td:before {
	  /* Now like a table header */
	  position: absolute;
	  /* Top/left values mimic padding */
	  top: 0;
	  left: 6px;
	  width: 45%;
	  padding-right: 10px;
	  white-space: nowrap;
  }
	td:nth-of-type(1):before { content: "Sr. no"; }
	td:nth-of-type(2):before { content: "Crop Name"; }
	td:nth-of-type(3):before { content: "Crop Type"; }
	td:nth-of-type(4):before { content: "Crop MSP"; }
	td:nth-of-type(5):before { content: "Crop Quantity"; }
	td:nth-of-type(6):before { content: "Crop MEP"; }
	td:nth-of-type(7):before { content: "Crop Date"; }
	td:nth-of-type(8):before { content: "Crop Status"; }
	td:nth-of-type(9):before { content: "Farmer Name"; }
	td:nth-of-type(10):before { content: "Farmer  Mobile"; }
	td:nth-of-type(11):before { content: "Farmer  Pincode"; }
	td:nth-of-type(12):before { content: "Distance (in KM)"; }
	td:nth-of-type(13):before { content: "View Details"; }
    
    table tr {
        margin-bottom: 15px;
        border: 3px solid #0c3823;
    }
}

.opt{
	margin:5px;
	border-radius: 10px;
}

.btn-class{
	background-color:#0c3823;
	color:#ffffff;
}
